* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(135deg, #d0e1e9, #1a91b9 );
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container * {
  margin: 10px;
  color: #fce4ec;
}

.container h1 {
  font-size: 3em;
}
.weatherInfo {
  font-size: 1.5em;
}